body{
    background: plum;
    margin: 0;
    padding: 0;
}

h1, p{
    text-align: center;
    padding: 20px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;  
    box-shadow: 2px 2px 5px 0px black;
}

div{
    background: pink;
    padding: 30px;
    width: 30%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

header{
    background-color: deeppink;
    border-bottom: 1px solid black;
}

table{
    margin: auto;
    padding: 0;
}

tr{
    margin: 0;
    padding: 0;
    background-color: deeppink;
}

td{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 10px;
}